body {
  
    background-image: linear-gradient(to right, white, rgb(244, 250, 191));
    background-size: cover;
    font-family: 'Verdana';  
    padding: 5px;
    
    
}

h1 {
  text-align: center;
  color: rgb(151, 148, 0);
  
}

button {background-image: linear-gradient(45deg, yellow, rgb(139, 133, 49), rgb(236, 226, 139)) ; 
  border: none;
  border-radius: 25px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;}

.textvak {
    padding: 10px;  
    background-color: rgb(250, 247, 230);
    color: rgb(226, 208, 43);
    border: rgb(37, 35, 0) solid 2px;
    border-radius: 25px;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-bottom: 1%;
}  