@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Sacramento&display=swap");
body {
  font-family: "Inspiration", cursive;
  font-size: 2rem;
  color: orangered;
  background: blanchedalmond;
  -webkit-transform: scale(0.65);
          transform: scale(0.65);
  height: 500px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.finish-text {
  text-align: center;
  width: 700px;
  background: #004904;
  background-image: radial-gradient(rgba(0, 0, 0, 0.185) 75%, rgba(255, 68, 0, 0.329));
  font-weight: bold;
  border: solid 1px orangered;
}

.Start,
.Herstart,
.next-btn,
.prev-btn {
  text-align: center;
  width: 215px;
  margin: 10px;
  text-align: center;
  background: #004904;
  background-image: radial-gradient(rgba(0, 0, 0, 0.185) 75%, rgba(255, 68, 0, 0.329));
  font-family: "Inspiration", cursive;
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
  color: orangered;
  border: solid 1px orangered;
}

.next-btn,
.prev-btn {
  height: 75px;
  width: 220px;
  margin: 10px;
  cursor: pointer;
}

.Herstart:hover,
.Start:hover,
.next-btn:hover,
.prev-btn:hover {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  color: red;
  font-weight: bolder;
  background-image: radial-gradient(#004904 65%, orangered);
}

.quiz-container {
  width: 30%;
  min-width: 450px;
  background: #004904;
  margin: 0 auto;
  background-image: radial-gradient(rgba(0, 0, 0, 0.185) 75%, rgba(255, 68, 0, 0.329));
  border: solid 1px orangered;
}

.quiz-title {
  text-align: center;
  margin: 0;
}

.page-counter {
  text-align: center;
  margin: 0;
}

.question-answers-container {
  font-weight: bolder;
}

.question {
  text-align: center;
  background: blanchedalmond;
  width: 80%;
  margin: auto;
  border-radius: 20px;
  padding: 20px;
}

.answers {
  padding: 0;
  text-align: center;
}

.answer {
  list-style-type: none;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.answer:nth-of-type(even) .answer-number {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.answer:nth-of-type(even) .answer-value {
  right: 0;
  left: 30px;
}

.answer:before {
  content: "";
  width: 100px;
  height: 100px;
  background: #003d04;
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  left: 30px;
}

.answer:nth-of-type(even):before {
  left: auto;
  right: 50px;
}

.answer-number {
  background: blanchedalmond;
  margin: 10px;
  padding: 20px;
  border-radius: 50%;
  display: inline-block;
  width: 40px;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.answer-value {
  background: blanchedalmond;
  margin: 10px;
  padding: 20px;
  display: inline-block;
  width: 60%;
  position: relative;
  z-index: 0;
  right: 30px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */