body {
    background: black;
}

.quizDiv {
    height: 500px;
    width: 500px;
    background: rgb(72, 72, 233);
    position: relative;
    .answerDiv {
        height: 20%;
        width: 20%;
        background: blueviolet;
        position: absolute;
    }
}